body {
  padding-top: 50px;
  background-color: SlateGray;
}
strong {
	color: DarkGoldenRod;
}
.stream-wrap {
	background-color: Black;
}
.content-wrap {
	padding:0px;
}
.button-wrap {
	padding:20px;
}
