body {
  padding-top: 50px;
  background-color: SlateGray;
}
strong {
	color: DarkGoldenRod;
}
.stream-wrap {
	width: 100% auto;
	height: auto;
	min-height: 480px;
}
.content-wrap {
	padding:0px;
}
.button-wrap {
	padding:20px;
}
